body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.wheel {
    width: 200px; /* Установите нужный размер колеса */
    height: 200px; /* Установите нужный размер колеса */
    border: 16px solid #4CAF50;
    border-radius: 50%;
    border-top: 16px solid #f3f3f3;
    margin: 20px;
    position: relative;
    display: inline-block;
}

.spin {
    animation: spin 2s forwards;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(1440deg); } /* Количество оборотов колеса */
}
